@media only screen and (min-width: 740px) {
  .top,
  .bottom,
  .sctn1,
  .sctn2__header,
  .sctn3,
  .sctn4__header,
  .sctn6,
  .footer__linkWrap {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  h1,
  h2,
  h3 {
    line-height: normal;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 35px;
  }
  .top,
  .bottom {
    padding-left: 0;
    padding-right: 0;
  }
  .middle {
    max-width: 1000px;
    margin: 0 auto 60px auto;
  }
  .p1 {
    font-size: 20px;
    line-height: 28px;
  }
  .p2 {
    font-size: 18px;
  }
  .sctn1 {
    margin: 67px auto 155px auto;
  }
  .sctn2 {
    margin-bottom: 150px;
  }
  .sctn2__header {
    margin: 0 auto 85px auto;
  }
  .sctn2__body {
    padding: 75px 110px;
    margin: 0 auto;
  }
  .sctn2__sctn {
    width: 345px;
    margin: 0 auto 56px auto;
  }
  .sctn3 {
    margin: 0 auto 100px auto;
  }
  .sctn4 {
    margin-bottom: 160px;
  }
  .sctn4__header {
    margin-bottom: 0;
  }
  .sctn4__body {
    display: table;
    table-layout: fixed;
    margin: 0 auto;
  }
  .sctn4__sctn {
    display: table-cell;
    width: 375px;
    padding: 0 10px;
  }
  .sctn5 {
    margin: 0px auto 110px auto;
  }
  .sctn5__img {
    transform: none;
  }
  .downloadBtn {
    width: 227px;
    margin: 0 8px;
  }
}
@media only screen and (min-width: 1440px) {
  .top,
  .bottom {
    width: 1440px;
  }
  .sctn2 {
    overflow: hidden;
  }
  .sctn2__imgWrap {
    width: 50%;
    margin: 0;
    float: left;
  }
  .sctn2__img {
    width: 105%;
    position: relative;
    top: 0;
    right: 5%;
  }
  .sctn2__body {
    width: 50%;
    float: left;
    margin: 0;
    text-align: left;
  }
  .sctn3 {
    clear: left;
  }
  .sctn3__img {
    width: 127%;
  }
  .sctn5 {
    display: table;
    table-layout: fixed;
    width: 1200px;
  }
  .sctn5__imgWrap {
    display: table-cell;
  }
  footer {
    padding: 22px 0;
    margin: 0 auto;
    overflow: hidden;
  }
  .footer__logoWrap {
    display: inline-block;
    vertical-align: bottom;
    width: 370px;
    height: 100px;
  }
  .footer__logo {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .footer__linkWrap {
    max-width: 700px;
    display: inline-block;
  }
  .footer__link {
    float: left;
    width: 26%;
    text-align: left;
  }
  .socials {
    display: inline-block;
    width: 370px;
    height: auto;
    margin: 0 auto;
  }
  .socials > a {
    height: 100px;
  }
}
