* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(201, 11%, 66%);
}
html {
  min-width: 320px;
}
body {
  margin: 0 auto;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 363px;
  text-align: center;
}
h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
}
h1 {
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 40px;
}
h2 {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 34px;
}
h3 {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 24px;
}
p {
  font-size: 16px;
  line-height: 26px;
}

.top,
.bottom {
  width: 320px;
  margin: 0 auto;
}
.top {
  padding: 120px 5px 0px 5px;
}
.top__logo {
  width: 125px;
  height: 125px;
}
.middle {
  max-width: 375px;
  margin: 0 auto 100px auto;
}
.middle__img {
  width: 90%;
}
.bottom {
  padding: 0 5px 170px 5px;
}

.sctn1 {
  margin-top: 64px;
  margin-bottom: 166px;
}
.sctn1__header {
  margin-bottom: 47px;
}

.sctn2 {
  margin-bottom: 182px;
}
.sctn2__header {
  margin-bottom: 65px;
}
.sctn2__imgWrap {
  margin-bottom: 57px;
}
.sctn2__img {
  width: 100%;
}
.sctn2__sctn {
  margin-bottom: 48px;
}
.sctn2__sctn:last-child {
  margin-bottom: 0;
}

.sctn3 {
  margin-bottom: 60px;
}

.sctn4 {
  margin-bottom: 130px;
}
.sctn4__header {
  margin-bottom: 95px;
}
.sctn4__iconWrap {
  margin-top: 60px;
  margin-bottom: 40px;
}

.sctn5 {
  margin-bottom: 170px;
}
.sctn5__img {
  display: block;
  margin: 0 auto 60px auto;
  transform: scale(0.85);
}

.sctn6__header {
  margin-bottom: 45px;
}

footer {
  width: 100%;
  padding: 50px 0;
  background-color: hsl(201, 11%, 95%);
}
.footer__logo {
  width: 55px;
  height: 55px;
  margin-bottom: 30px;
}
.footer__link {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 48px;
  text-decoration: none;
  color: hsl(201, 11%, 50%);
}
.footer__link:hover {
  color: hsl(171, 66%, 44%);
}
.socials {
  width: 190px;
  height: 24px;
  margin: 40px auto 0 auto;
}
.socials > a {
  display: block;
  float: left;
  height: 24px;
  width: 33.33%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}
.socials__facebook {
  background-image: url("../images/icon-facebook.svg");
}
.socials__twitter {
  background-image: url("../images/icon-twitter.svg");
}
.socials__instagram {
  background-image: url("../images/icon-instagram.svg");
}
.socials > a:hover {
  /* Change svg color */
  filter: invert(52%) sepia(100%) saturate(314%) hue-rotate(121deg)
    brightness(95%) contrast(93%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.downloadBtn {
  display: inline-block;
  width: 100%;
  border-radius: 26px;
  margin-bottom: 28px;
  line-height: 52px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.downloadBtn:first-child {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px solid hsl(171, 66%, 34%);
  box-shadow: 0px 10px 10px hsl(171 66% 34% / 25%);
}
.downloadBtn:last-child {
  background-color: hsl(233, 100%, 64%);
  border-bottom: 3px solid hsl(233, 100%, 59%);
  box-shadow: 0px 10px 10px hsl(233 100% 59% / 25%);
  margin-bottom: 0;
}
.downloadBtn:hover {
  opacity: 0.7;
}
