* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 62.5%;
  color: hsl(201, 11%, 66%);
}
html {
  min-width: 32rem;
}
body {
  margin: 0 auto;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 36.3rem;
  font-size: 16rem;
  text-align: center;
}
h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
}
h1 {
  margin-bottom: 1.7rem;
  font-size: 3rem;
  line-height: 4rem;
}
h2 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  line-height: 3.4rem;
}
h3 {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.top,
.bottom {
  width: 32rem;
  margin: 0 auto;
}
.top {
  padding: 12rem 0.5rem 0 0.5rem;
}
.top__logo {
  width: 12.5rem;
  height: 12.5rem;
}
.middle {
  max-width: 37.5rem;
  margin: 0 auto 10rem auto;
}
.middle__img {
  width: 90%;
}
.bottom {
  padding: 0 0.5rem 17rem 0.5rem;
}

.sctn1 {
  margin-top: 6.4rem;
  margin-bottom: 16.6rem;
}
.sctn1__header {
  margin-bottom: 4.7rem;
}

.sctn2 {
  margin-bottom: 18.2rem;
}
.sctn2__header {
  margin-bottom: 6.5rem;
}
.sctn2__imgWrap {
  margin-bottom: 5.7rem;
}
.sctn2__img {
  width: 100%;
}
.sctn2__sctn {
  margin-bottom: 4.8rem;
}
.sctn2__sctn:last-child {
  margin-bottom: 0;
}

.sctn3 {
  margin-bottom: 6rem;
}

.sctn4 {
  margin-bottom: 13rem;
}
.sctn4__header {
  margin-bottom: 9.5rem;
}
.sctn4__iconWrap {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.sctn5 {
  margin-bottom: 17rem;
}
.sctn5__img {
  display: block;
  margin: 0 auto 6rem auto;
  transform: scale(0.85);
}

.sctn6__header {
  margin-bottom: 4.5rem;
}

footer {
  width: 100%;
  padding: 5rem 0;
  background-color: hsl(201, 11%, 95%);
}
.footer__logo {
  width: 5.5rem;
  height: 5.5rem;
  margin-bottom: 3rem;
}
.footer__link {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 4.8rem;
  text-decoration: none;
  color: hsl(201, 11%, 50%);
}
.footer__link:hover {
  color: hsl(171, 66%, 44%);
}
.socials {
  width: 19rem;
  height: 2.4rem;
  margin: 4rem auto 0 auto;
}
.socials > a {
  display: block;
  float: left;
  height: 2.4rem;
  width: 33.33%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}
.socials__facebook {
  background-image: url("../images/icon-facebook.svg");
}
.socials__twitter {
  background-image: url("../images/icon-twitter.svg");
}
.socials__instagram {
  background-image: url("../images/icon-instagram.svg");
}
.socials > a:hover {
  /* Change svg color */
  filter: invert(52%) sepia(100%) saturate(314%) hue-rotate(121deg)
    brightness(95%) contrast(93%);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.downloadBtn {
  display: inline-block;
  width: 100%;
  border-radius: 2.6rem;
  margin-bottom: 2.8rem;
  line-height: 5.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.downloadBtn:first-child {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px solid hsl(171, 66%, 34%);
  box-shadow: 0 1rem 1rem hsl(171 66% 34% / 25%);
}
.downloadBtn:last-child {
  background-color: hsl(233, 100%, 64%);
  border-bottom: 3px solid hsl(233, 100%, 59%);
  box-shadow: 0 1rem 1rem hsl(233 100% 59% / 25%);
  margin-bottom: 0;
}
.downloadBtn:hover {
  opacity: 0.7;
}
